/*Style CSS */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* mise en page partie item */
#item {
  height: 95%;
  width: 25%;
  padding: 0;
  float: left;
  background-color: #3313b2;
}

/* mise en page partie carte */
#map {
  height: 95%;
  width: 75%;
  padding: 0;
  float: right;
}

/* mise en page partie recherche */
#autocomplete {
  width: 99%;
  height: 3%;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: white;
  padding: 5px;
  background-color: #282626;
}

