/*Style CSS */

/*====== PAGE ===============================================================================================================================================*/
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

a {
  color: #DFDFDF;
  font-weight: bold;
}

a:focus {
  outline: 2px solid;
  outline-offset: .15em;
}


/*========== MENU ===========================================================================================================================================*/
/* partie menu*/
#menu {
  position: relative;
  max-height: 30%;
  width: 100%;
  padding : 1%;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  background-color: #2D5BE3;
}

/* 3 boutons*/
.menu{
  color: #FFFFFF;
  padding: 8px;
  background-color: #121212;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #121212;
  border-width: 1px;
  box-shadow: 1px 1px 0px #3F4448;
}
/* refresh */
#refresh {
  float: left;
  width: 15%;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

/* mise en page partie recherche */
#autocomplete {
  width: 60%;
  text-align: left;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

/* menu déroulant */
#filter {
  float: right; 
  width: 15%; 
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}


/*========== INFO ===========================================================================================================================================*/
/* div info */
#info {
  float: left;
  width: 30%;
  height: 5%;
  padding-top: 1%;
  text-align: center;
  background-color: #F2F2F2;
  color : #121212;
  font-size: 1.2em;
  position: relative;
  z-index: 2;
}

em {
  font-weight: bold;
}


/*========== PARTIE GAUCHE ==================================================================================================================================*/
/* mise en page partie item */
#sidebar {
  height: 91%;
  width: 31%;
  float: left;
  padding-right: 1%;
  background-color: #FFFFFF;
  border-bottom: solid;
  border-color: #EFEFF4;
  border-width: 1px;
  visibility: visible;
  overflow: auto;
  position : fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* mise en page partie item */
.item {
  width: 102%;
  margin-right: 3%;
  margin-left: 1%;
  padding-right: 3%;
  background-color: #FFFFFF;;
  border-bottom: solid;
  border-color: #EFEFF4;
  border-width: 1px;
  color : #2D5BE3;
  font-size: 0.8em;

}

.item__name{
  width: 90%;
}

.closeElmClass {
  float: right;
}

.item__rating {
  visibility: hidden;
}

.item__comment__info {
  max-width: 100%;
  float: left;
}

.item__comment__author {
  max-width: 100%;
  font-weight: bold;
}

.item__comment__time {
  max-width: 100%;
  font-style: italic;
}


/*========== PARTIE MAP =====================================================================================================================================*/
/* mise en page partie carte */
#map {
  height: 86%;
  width: 70%;
  padding: 0;
  float: right;
  background-color: #121212;
  position: relative;
  z-index: 3;
}


/*========== FOOTER ==========================================================================================================================================*/
/* mise en page partie footer */
#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 7%;
  padding-top: 1%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #FFFFFF;
  z-index: 2;
}

#button-twitter {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

#button-modal {
  float: right;
  margin-right: 1%;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

.modal-header {
  background-color: #2D5BE3;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #121212;
  border-width: 1px;
}

 /*============================================================================================================================================================*/
/*========== MEDIA QUERIES ===================================================================================================================================*/
/*============================================================================================================================================================*/
/*========== ECRAN SUPERIEUR A 1024px ========================================================================================================================*/ -->
 @media all and (max-width: 1024px)
{
  *{
    width: auto;

  }

  #menu {
    max-height: 20%;
    width: 100%;
    padding: 1%;
    text-align: center;
  }

  /* mise en page partie recherche */
  #autocomplete {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    max-width: 40%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  /* refresh */
  #refresh {
    max-width: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  /* menu déroulant */
  #filter {
    width: 30%;
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  #info {
  display: none;
  }

  #sidebar {
    width: 105%;
    height: 47%;
    padding: 0;
    margin: 0;
  }

  .item {
    background-color: #FFFFFF;
    font-size: 10px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .item__comment__author {
    min-width: 10%;
    font-weight: bold;
    text-align: left;
  }

  .item__comment__time {
    min-width: 10%;
    text-align: left;
    float: left;
  }

  #map {
    width: 100%;
    height: 50%;
    background-color: #af0101;
    padding: 0;
    margin: 0;
  }

  #footer {
    width: 100%;
  }

  #button-twitter {
    height: 60%;
    width: 60%;
    text-align: center;
    padding-bottom: : 1%;
    margin-bottom: 1%;
    font-size: 8px;
  }

}
