/*Style CSS */

/*====== PAGE ===============================================================================================================================================*/
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

a {
  color: #DFDFDF;
  font-weight: bold;
}

a:focus {
  outline: 2px solid;
  outline-offset: .15em;
}


/*========== MENU ===========================================================================================================================================*/
/* partie menu*/
#menu {
  position: relative;
  max-height: 30%;
  width: 100%;
  padding : 1%;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  background-color: #2D5BE3;
}

/* 3 boutons*/
.menu{
  color: #FFFFFF;
  padding: 8px;
  background-color: #121212;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #121212;
  border-width: 1px;
  box-shadow: 1px 1px 0px #3F4448;
}
/* refresh */
#button-refresh {
  float: left;
  width: 15%;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

/* mise en page partie recherche */
#input-autocomplete {
  width: 60%;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

/* menu déroulant */
#select-filter {
  float: right; 
  width: 15%; 
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}


/*========== INFO ===========================================================================================================================================*/
/* div info */
#info {
  float: left;
  text-align: center;
  background-color: #F2F2F2;
  color : #121212;
  font-size: 1.2em;
  position: relative;
}

em {
  font-weight: bold;
}


/*========== PARTIE GAUCHE ==================================================================================================================================*/
/* mise en page partie item */
#sidebar {
  height: 88%;
  width: 32%;
  float: left;
  background-color: #FFFFFF;
  border-bottom: solid;
  border-color: #EFEFF4;
  border-width: 1px;
  visibility: visible;
  overflow: auto;
  position : fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* mise en page partie item */
.item {
  width: 97%;
  background-color: #FFFFFF;
  padding-left: 1%;
  padding-right: 2%;
  border-bottom: solid;
  border-color: #EFEFF4;
  border-width: 1px;
  color : #2D5BE3;
  font-size: 1em;

}

.item__rating {
  visibility: hidden;
}
.item__comment__info {
  max-width: 100%;
  float: left;
}

.item__comment__author {
  max-width: 100%;
  font-weight: bold;
}

.item__comment__time {
  max-width: 100%;
  font-style: italic;
}


/*========== PARTIE MAP =====================================================================================================================================*/
/* mise en page partie carte */
#map {
  height: 87%;
/*  width: 70%;*/
  padding: 0;
  float: right;
  background-color: #121212;
  position: relative;
  z-index: 2;
}


/*========== FOOTER ==========================================================================================================================================*/
/* mise en page partie footer */
#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 5%;
  padding-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #FFFFFF;
  z-index: 2;
}

#button-twitter {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}

#button-modal {
  float: right;
  margin-right: 1%;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #DFDFDF;
  background-color: #121212;
  border-color: #121212;
}


