/*Style CSS */

/*====== PAGE ===============================================================================================================================================*/
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar { display: none; }

html, body {
  height: 100%;
  background-color: #3F4448;
}

a {
  color: #FAFBFC;
  font-weight: bold;
}


/*========== MENU ===========================================================================================================================================*/
/* partie menu*/
#menu {
  position: relative;
  height: 5%;
  width: 100%;
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
  background-color: #3F4448;
}

/* 3 boutons*/
.menu{
  font-size: 16px;
  color: #DFDFDF;
  padding: 8px;
  background-color: #121212;
  border-style: solid;
  border-radius: 5px;
  border-color: #121212;
  border-width: 1px;
  box-shadow: 1px 1px 0px #3F4448;
}
/* refresh */
#refresh {
  margin-left: 2%;
  width: 10%;
  float: left;
}

/* mise en page partie recherche */
#autocomplete {
  width: 60%;
  margin-left: 2%;
  font-style: italic;
  font-weight: bold;
}

/* menu déroulant */
#filter {
  margin-left: 2%;
  width: 15%;
}


/*========== PARTIE GAUCHE ==================================================================================================================================*/
/* mise en page partie item */
#sidebar {
  height: 92%;
  width: 23%;
  margin-left: 1%;
  float: left;
  background-color: #DFDFDF;
  visibility: visible;
  overflow: auto;
}

/* mise en page partie item */
.item {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #DFDFDF;
  color : #121212;
  border-top: solid;
  border-color: #121212;
  border-width: 1px;

}

.item__photos {
  height: 100px;
  width: 100px;
  visibility: visible;
  border-color: #121212;
  border-width: 1px;

}

/*========== PARTIE MAP =====================================================================================================================================*/
/* mise en page partie carte */
#map {
  height: 86%;
  width: 74%;
  margin-right: 1%;
  padding: 0;
  float: right;
  background-color: #121212;
}

/*========== FOOTER ==========================================================================================================================================*/
/* mise en page partie footer */
#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 5%;
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
  background-color: #3F4448;
}

#button-twitter {
  text-align: center;
  width: 25%;
  font-size: 16px;
  padding: 6px;
  color: #DFDFDF;
  background-color: #121212;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #121212;
}


/*========== MEDIA QUERIES ===================================================================================================================================*/
@media all and (max-width: 1024px)
{
  *{
    width: auto;

  }

  #menu {
    height: 10%;
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: #af0101;
  }

  /* mise en page partie recherche */
  #autocomplete {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    min-width: 90%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  /* refresh */
  #refresh {
    width: 20%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  /* menu déroulant */
  #filter {
    width: 60%;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  #sidebar {
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #DFDFDF;
  }

  .item {
    background-color: #DFDFDF;
    font-size: 10px;
    width: 100%;
    padding: 0;
    margin :0;
  }

  #map {
    width: 100%;
    height: 64%;
    background-color: #af0101;
    padding: 0;
    margin: 0;
  }

  #footer {
    background-color: #af0101;
    width: 100%;
  }

  #button-twitter {
    height: 60%;
    width: 60%;
    text-align: center;
    padding-bottom: : 1%;
    margin-bottom: 1%;
    font-size: 8px;
    color: #EED2EE;
  }


}
