/*Style CSS */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #121212;
  border-radius: 5px;
  border-color: #121212;
}

/* mise en page partie item */
#sidebar {
  height: 95%;
  width: 25%;
  padding: 0;
  float: left;
  background-color: #121212;
  border-color: #121212;
  overflow: auto;
}

/* mise en page partie item */
.item {
  width: 100%;
  padding: 0;
  background-color: #121212;
  color : #EAE8DD;
  border-color: #00508A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}


/* menu déroulant */
#filter {
  min-height: 5%;
  width: 67%;
  padding: 0;
  float: left;
  font-weight: bold;
  font-style: italic;
  color: #EAE8DD;
  padding: 5px;
  background-color: #121212;
  border-radius: 5px;
  border-color: #121212;
}

/* refresh */
#refresh {
  min-height: 5%;
  width: 30%;
  padding: 3px;
  float: right;
  font-weight: bold;
  font-style: italic;
  color: #EAE8DD;
  padding: 5px;
  background-color: #121212;
  border-radius: 5px;
  border-color: #121212;
}


/* mise en page partie carte */
#map {
  height: 95%;
  width: 75%;
  padding: 0;
  float: right;
  background-color: #121212;
  border-radius: 5px;
  border-color: #121212;
}

/* mise en page partie recherche */
#autocomplete {
  width: 99%;
  height: 5%;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: #121212;
  padding: 1%;
  background-color: #00508A;
  border-radius: 5px;
  border-color: #121212;
}
