/*Style CSS */

/*====== PAGE ===============================================================================================================================================*/
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar { 
  display: none; 
}

html, body {
  height: 100%;
  background-color: #FFFFFF;
}

a {
  color: #DFDFDF;
  font-weight: bold;
}


/*========== MENU ===========================================================================================================================================*/
/* partie menu*/
#menu {
  position: relative;
  height: 5%;
  width: 100%;
  padding-top: 1%;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  background-color: #2D5BE3;
}

/* 3 boutons*/
.menu{
  color: #FFFFFF;
  padding: 8px;
  background-color: #121212;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #121212;
  border-width: 1px;
  box-shadow: 1px 1px 0px #3F4448;
}
/* refresh */
#refresh {
  text-align: center;
  margin-left: 2%;
  width: 10%;
  float: left;
}

/* mise en page partie recherche */
#autocomplete {
  width: 57%;
  font-style: italic;
  font-weight: bold;
}

/* menu déroulant */
#filter {
  margin-right: 2%;
  width: 15%;
  float: right;
}


/*========== PARTIE GAUCHE ==================================================================================================================================*/
/* mise en page partie item */
#sidebar {
  height: 93%;
  width: 25%;
  float: left;
  background-color: #FFFFFF;
  visibility: visible;
  overflow: auto;
}

/* div info */
#info {
  width: 100%;
  float: left;
  padding : 2%;
  background-color: #F2F2F2;
  color : #121212;
  font-size: 1.2em;
}

em {
  font-weight: bold;
}

/* mise en page partie item */
.item {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #FFFFFF;
  color : #2D5BE3;
  font-size: 1em;
  border-bottom: solid;
  border-color: #EFEFF4;
  border-width: 1px;

}

#addComment {
  display: none;
  font-size: 1em;
  color: #2D5BE3;
  width: 50%;
  float: right;
  background-color: #E6E6FA;
  font-style: italic;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #E6E6FA;
  border-width: 1px;
}

/*========== PARTIE MAP =====================================================================================================================================*/
/* mise en page partie carte */
#map {
  height: 86%;
  width: 75%;
  padding: 0;
  float: right;
  background-color: #121212;
}


/*========== FOOTER ==========================================================================================================================================*/
/* mise en page partie footer */
#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 5%;
  padding-top: 1%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  background-color: #FFFFFF;
}

#button-twitter {
  text-align: center;
  width: 25%;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  padding: 6px;
  color: #DFDFDF;
  background-color: #121212;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #121212;
}


/*============================================================================================================================================================*/
/*========== MEDIA QUERIES ===================================================================================================================================*/
/*============================================================================================================================================================*/
/*========== ECRAN SUPERIEUR A 1024px ========================================================================================================================*/
@media all and (max-width: 1024px)
{
  *{
    width: auto;

  }

  #menu {
    height: 10%;
    width: 100%;
    padding: 1%;
    text-align: center;
  }

  /* mise en page partie recherche */
  #autocomplete {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    min-width: 90%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  /* refresh */
  #refresh {
    width: 20%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  /* menu déroulant */
  #filter {
    width: 60%;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
    color: #EED2EE;
    font-size: 10px;
  }

  #sidebar {
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .item {
    background-color: #FFFFFF;
    font-size: 10px;
    width: 100%;
    padding: 0;
    margin :0;
  }

  #map {
    width: 100%;
    height: 64%;
    background-color: #af0101;
    padding: 0;
    margin: 0;
  }

  #footer {
    width: 100%;
  }

  #button-twitter {
    height: 60%;
    width: 60%;
    text-align: center;
    padding-bottom: : 1%;
    margin-bottom: 1%;
    font-size: 8px;
  }

}
